<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for registering! Here are the details of your order</h1>
    
    <h2>Your Name: {{request.session.forminfo.fname}} {{request.session.forminfo.lname}}</h2>
    <h3>Please check your email at {{request.session.forminfo.email}} for your login information.</h3>
    <h5>You have been charged {{request.session.forminfo.plan}}</h5>
</body>
</html>